<div class="row">
  <div class="col-md-3">
    <h2>Açık iş modeli ile çalışıyoruz</h2>
    <p>Meta yerine değer üretmek, kaynaklarımızı paylaşmak, müşterilerin ve kullanıcıların işlerimize katılımını sağlamak, hem onları hem de bizi besliyor.</p>
    <p><a class="btn btn-default" href="acik-is.html" role="button">Açık iş &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <h2>Sevdiğimiz işleri yapıyoruz</h2>
    <p>Yazılım yazmayı, tasarım yapmayı, dikiş dikmeyi, müzik yapmayı sevdiğimiz için yapıyoruz. Hem mutlu oluyoruz, hem değer üretiyoruz.</p>
    <p><a class="btn btn-default" href="ne-yapiyoruz.html" role="button">İşlerimiz &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <h2>Kaynaklarımızı paylaşıyoruz</h2>
    <p>Sahip olduğumuz bilgi, deneyim, iş araçlarını paylaşıyoruz. İhtiyacımız olan kaynakları yaratmak için kollektif ruhtan besleniyoruz.</p>
    <p><a class="btn btn-default" href="kaynaklarimiz.html" role="button">Kaynaklarımız &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <h2>Projelerimizi gerçekleştiriyoruz</h2>
    <p>İlk projemiz, açık iş modeli ile kurduğumuz yazılım projesi.</p>
    <p><a class="btn btn-default" href="projelerimiz.html" role="button">Projelerimiz &raquo;</a></p>
  </div>
</div>