<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Lala Projesi</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="acik-is.html">Açık iş modeli</a></li>
        <li><a href="biz.html">Biz</a></li>
        <li><a href="ne-yapiyoruz.html">Neler yapıyoruz?</a></li>
        <li><a href="kaynaklarimiz.html">Kaynaklarımız</a></li>
        <li><a href="projelerimiz.html">Projelerimiz</a></li>
        <li><a href="https://github.com/lala-projesi">Github'da görüntüle</a></li>
      </ul>
	</div>
</div>