<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="nedir.html">Lala Projesi Nedir?</a></li>
          <li class="fork"><a href="acik-is.html">Açık İş Modeli</a></li>
          <li class="fork"><a href="destek.html">Destek Arıyoruz</a></li>
          <li class="title"><a href="https://github.com/lala-projesi">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href='/'>Lala projesi</a></h1>
          <p>Küçük işyerleri için gündelik işlerini yönetebilecekleri uygulamalar sistemi geliştirme projesi</p>
          <hr>
        </div>

        {{ content }}
      </section>

      <footer class="hidden">
        <hr>
        <a href="https://github.com/lala-project">Github Profilimiz</a>
        <a href="https://twitter.com/lala-project">Twitter Hesabımız</a>
        <a href="mailto:">Email</a>
        <br>

        <span class="credits left">Project maintained by <a href="https://github.com/lala-projesi">lala-projesi</a></span>
        <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>



      </footer>


    </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-47811272-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
